{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>

    <table>
        <th>Your list:</th>
        <tbody>
            {% for person in people %}
            <tr>
                <td>{{person.username}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                </td>
            </tr>
           

        </tbody>
    </table>

    <a href="{% url 'add' %}">Add new person</a>


</body>
</html>